<section class="background-radial-gradient overflow-hidden">
    <div class="container-fluid box">
      <div class="row ">
        <div class=" my-4">
            <h1 class="text-center"> </h1>
           
        </div>
        <div class="d-flex justify-content-center Login_rows">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12">
        <table class="table table-bordered">
            <!-- <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
               
              </tr>
            </thead> -->
            <tbody style="color:#fff ;">
              <tr>
                <th scope="row">Fuel Cost</th>
                <td>20000</td>
                <td>Km</td>
                <td>Mileage</td>
                <td >RS/Liter</td>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">(KMS.MILEAGE* RS PER LITER</th>
                <td></td>
                <td>1000</td>
                <td>5</td>
                <td>100</td>
                <td></td>
                <td></td>
                <td></td>
               
               
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">DRIVER</th>
                <td>1500</td>
                <td>LABOUR</td>
                <td>Food</td>
                <th >Days</th>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>

              <tr>
                <th scope="row"> (LABOUR +FOOD )*DAYS</th>
                <td></td>
                <td>600</td>
                <td>150</td>
                <th >2</th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row"> </th>
                <td></td>
                <td></td>
                <td></td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row">INSURANCE</th>
                <td>100</td>
                <td>DAYS</td>
                <td>RS/YEAR</td>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row"> </th>
                <td></td>
                <td>365</td>
                <td>36500</td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row">RTO</th>
                <td>10</td>
                <td>DAYS</td>
                <td>RS/YEAR</td>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row"> </th>
                <td></td>
                <td></td>
                <td></td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row">EMI</th>
                <td>1000</td>
                <td>DAYS</td>
                <td>RS/YEAR</td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
              
              </tr>
              <tr>
                <th scope="row"> </th>
                <td></td>
                <td>365</td>
                <td>365000</td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row">MAINTENANCE</th>
                <td>500</td>
                <td>KM RUN/YR</td>
                <td>RS/12000KM</td>
                <td>VEH PRICE</td>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row"> </th>
                <td></td>
                <td>365</td>
                <td>365000</td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row"> </th>
                <td></td>
                <td></td>
                <td></td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row">TOTAL </th>
                <td>23110</td>
                <td></td>
                <td></td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row"> </th>
                <td></td>
                <td></td>
                <td></td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row">PROFIT *(25%) </th>
                <td>5778</td>
                <td></td>
                <td></td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row"> </th>
                <td></td>
                <td></td>
                <td></td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
              <tr>
                <th scope="row"> QUOTE</th>
                <td>28888</td>
                <td></td>
                <td></td>
                <th ></th>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
            </tbody>
          </table>
  
        </div>
        </div>
   

        
            
         
              
        
          
             

              <div class="justify-content-center d-flex py-3 ">
                <!-- <button class=" Next btn-lg mr-3" id="btton" mat-raised-button color="primary" routerLink="../vehicle-required " >Preview & Edit</button> -->
                <button class=" Next btn-lg" id="btton" mat-raised-button color="primary" routerLink="../quotations" >Submit</button>
            </div>
            </div>
          </div>
          

  </section>


 


  