.logo-image {
    box-shadow: 1px 5px 12px rgba($color: #6e6d6d, $alpha: 1) !important;
}

.Next{    padding: 1% 5%;
    color: #fff;
    font-weight: 500;
    background-color: #21AD4B;
    margin-top: 1.5rem;
    border: none;

}
.background-radial-gradient {
    color: #fff;
}