
<section class="background-radial-gradient overflow-hidden">
  <div class="container-fluid">
    <section id="minimal-statistics">
      <div class="row">
        <div class="py-4">
            <h1 class="text-center">Bulky Goods </h1>
            <p  class="text-center">This screen is used if customer wants to select the vehicle himself instead of uploading images</p>
             <h5 class="text-center">Select Anyone</h5>
            </div>
      </div>

<div class="container">

  <div class="grid-wrapper grid-col-auto">
    <label for="radio-card-1" class="radio-card">
      <input (change)="onChange($event)" value="100kg" type="radio" name="radio-card" id="radio-card-1" checked />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/20L.png"
            alt=""
          />
          <h5 class="">Upto 100kg</h5>
                    <span>(Mineral water 20L Crates)</span>
     
        </div>
      </div>
    </label>
    <!-- /.radio-card -->

    <label for="radio-card-2" class="radio-card">
      <input (change)="onChange($event)" value="100kg500kg" type="radio" name="radio-card" id="radio-card-2" />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/40L.png"
            alt=""
          />
          <h5 >Above  100kg Uupto 500kg</h5>
          <p class="text-center"> (HouseHold Items)</p>
        </div>
      </div>
    </label>
    <!-- /.radio-card -->
</div>
<div class="grid-wrapper grid-col-auto">

    <label for="radio-card-3" class="radio-card">
      <input (change)="onChange($event)" value="500kg1000kg" type="radio" name="radio-card" id="radio-card-3" />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/500L.png"
            alt=""
          />
          <h5 class="">Above 500kg To 1,000Kg</h5>
                    <p >(House Shifiting Bulky Goods)</p>
        </div>
      </div>
    </label>
    <label for="radio-card-4" class="radio-card">
      <input (change)="onChange($event)" value="1000kg2000kg" type="radio" name="radio-card" id="radio-card-4" />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/800L.png"
            alt=""
          />
          <h5 class="">Above 1,000kg To 2,000kg</h5>
          <p>( House Shifting ,Bulky Goods)</p>
         
        </div>
      </div>
    </label>
    <label for="radio-card-5" class="radio-card">
      <input (change)="onChange($event)" value="2000kg10000kg" type="radio" name="radio-card" id="radio-card-5" />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/1000L.png"
            alt=""
          />
          <h5 class="">Above 2,000kg To 10,000</h5>
          <p class="text-center">(Heavy Cargo)</p>
        </div>
      </div>
    </label>
    
  </div>
  <div class="justify-content-center d-flex py-3 mt-5">
    <button class=" Next btn-lg mr-3" id="btton" mat-raised-button color="primary" routerLink="../upload-images" >Back</button>
    <!-- routerLink="../sender" -->
    <button class=" Next btn-lg" id="btton" mat-raised-button color="primary" (click)="next()" >Next</button>
</div>
  
  <!-- /.grid-wrapper -->
</div>
</section>