

<!-- <section class="background-radial-gradient overflow-hidden">
  <div class="container-fluid">
    <section id="minimal-statistics">
      <div class="row">
        <div class="py-4">
            <h1 class="text-center">Bulky Goods </h1>
            <p  class="text-center">This screen is used if customer wants to select the vehicle himself instead of uploading images</p>
             <h5 class="text-center">Select Anyone</h5>
            </div>
      </div>
   
    
      <div class="row  justify-content-center py-4">
        <div class="col-xl-3 col-sm-12 col-12">
          <div class="card cardss">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h5 class="danger">Upto 100kg</h5>
                    <span>(Mineral water 20L Crates)</span>
                  </div>
                  <div class="" style="display: contents;">
                    <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
         
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-12 col-12">
          <div class="card cardss">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h5 class="success">Above  100kg Uupto 500kg</h5>
                    <span> (HouseHold Items)</span>
                  </div>
                  <div class="" style="display: contents;">
                    <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
                  <img src="" class="img-fulid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-xl-3 col-sm-12 col-12">
          <div class="card cardss">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h5 class="warning">Above 500kg To 1,000Kg</h5>
                    <span>(House Shifiting Bulky Goods)</span>
                  </div>
                  <div class="" style="display: contents;">
                    <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
                  <img src="" class="img-fulid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    
      <div class="row my-4">
        <div class="col-xl-3 col-sm-12 col-12">
            
          </div>
        <div class="col-xl-3 col-sm-12 col-12">
            <div class="card cardss">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="media-body text-left">
                      <h5 class="primary">Above 1,000kg To 2,000</h5>
                      <span>( House Shifting ,Bulky Goods)</span>
                      
                    </div>
                    <div class="" style="display: contents;">
                        <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
                      <img src="" class="img-fulid">
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xl-3 col-sm-12 col-12">
          <div class="card cardss">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h5 class="primary">Above 2,000kg To 10,000</h5>
                        <span>(Heavy Cargo)</span>
                        
                      </div>
                   <div class="" style="display: contents;">
                    <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
                  <img src="" class="img-fulid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
     
      </div>
     
    </section>
    <div>
        <h4 class="text-center p-3">Helper Required</h4>
    
    <div class="d-flex justify-content-center">
        <input type="radio" id="male" name="gender">
        <label for="male"class ="mr-2">Yes</label>
            <input type="radio" id="female" name="gender">
            <label for="female">No</label>
          
      </div>
      
    </div>
    <div>
        <h4 class="text-center p-3">Paking Required</h4>
    
    <div class="d-flex justify-content-center">
        <input type="radio" id="yes" name="gender">
        <label for="yes"class ="mr-2">Yes</label>
            <input type="radio" id="no" name="gender">
            <label for="no">No</label>
          
      </div>
      
    </div>

    <div class="justify-content-center d-flex py-3 mt-5">
        <button class=" Next btn-lg mr-3" id="btton" mat-raised-button color="primary" routerLink="../upload-images" >Back</button>
        <button class=" Next btn-lg" id="btton" mat-raised-button color="primary" routerLink="../sender" >Next</button>

    
    </div>
 
  </div>
</section> -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container-fluid">
    <section id="minimal-statistics">
      <div class="row">
        <div class="py-4">
            <h1 class="text-center">Bulky Goods </h1>
            <p  class="text-center">This screen is used if customer wants to select the vehicle himself instead of uploading images</p>
             <h5 class="text-center">Select Anyone</h5>
            </div>
      </div>

<div class="container">

  <div class="grid-wrapper grid-col-auto">
    <label for="radio-card-1" class="radio-card">
      <input type="radio" name="radio-card" id="radio-card-1" checked />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/20L.png"
            alt=""
          />
          <h5 class="">Upto 100kg</h5>
                    <span>(Mineral water 20L Crates)</span>
     
        </div>
      </div>
    </label>
    <!-- /.radio-card -->

    <label for="radio-card-2" class="radio-card">
      <input type="radio" name="radio-card" id="radio-card-2" />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/40L.png"
            alt=""
          />
          <h5 >Above  100kg Uupto 500kg</h5>
          <p class="text-center"> (HouseHold Items)</p>
        </div>
      </div>
    </label>
    <!-- /.radio-card -->
</div>
<div class="grid-wrapper grid-col-auto">

    <label for="radio-card-3" class="radio-card">
      <input type="radio" name="radio-card" id="radio-card-3" />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/500L.png"
            alt=""
          />
          <h5 class="">Above 500kg To 1,000Kg</h5>
                    <p >(House Shifiting Bulky Goods)</p>
        </div>
      </div>
    </label>
    <label for="radio-card-4" class="radio-card">
      <input type="radio" name="radio-card" id="radio-card-4" />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/800L.png"
            alt=""
          />
          <h5 class="">Above 1,000kg To 2,000kg</h5>
          <p>( House Shifting ,Bulky Goods)</p>
         
        </div>
      </div>
    </label>
    <label for="radio-card-5" class="radio-card">
      <input type="radio" name="radio-card" id="radio-card-5" />
      <div class="card-content-wrapper">
        <span class="check-icon"></span>
        <div class="card-content">
          <img
            src="../../../assets/1000L.png"
            alt=""
          />
          <h5 class="">Above 2,000kg To 10,000</h5>
          <p class="text-center">(Heavy Cargo)</p>
        </div>
      </div>
    </label>
    
  </div>
  <div class="justify-content-center d-flex py-3 mt-5">
    <button class=" Next btn-lg mr-3" id="btton" mat-raised-button color="primary" routerLink="../upload-images" >Back</button>
    <button class=" Next btn-lg" id="btton" mat-raised-button color="primary" routerLink="../sender" >Next</button>
</div>
  
  <!-- /.grid-wrapper -->
</div>
</section>