* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



    .item {
      display: flex;
      font-size: 19px;
      align-items: center;
 background: none;
      color: #fff;
      // border-bottom: 1px solid #F1F1F1;
      
    }

    .item:last-child {
      border-bottom: 0;
    }
    

    .logo-image {
        box-shadow: 1px 5px 12px rgba($color: #6e6d6d, $alpha: 1) !important;
    }
    input[type="checkbox"] {
      margin: 20px;
    }
    .Next{padding: 3% 12%;
        color: #fff;
        font-weight: 500;
        background-color: #21AD4B;
        margin-top: 1.5rem;

    }
   
.logo-image{
 background-color:  rgba(255, 255, 255, 0.2);;
 color: #fff;
}


.Next {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.Next {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}
  
    
    // .text-box {
    //   margin: 0;
    //   padding: 20px;
    //   transition: background 0.2s;
    //   flex: 1;
    //   font-family:'helvetica neue';
    //   font-size: 20px;
    //   font-weight: 200;
    //   border-left: 1px solid #D1E2FF;
    //   font-family: 'Roboto', sans-serif;
    // }