













<section class="background-radial-gradient overflow-hidden">
    <div class="container box">
      <div class="row ">
        <div class=" my-4">
            <h1 class="text-center">Quotations </h1>
            
        </div>
        <table class="table table-bordered">
        
            <tbody style="color:#fff ;">
              <tr>
                <th scope="row">Service Provider</th>
                <td>Owner/Agent/Shipping Company Mob</td>
                <td>Drv Mob</td>
                <td>Frt</td>
                <td>Adv</td>
                <td>Hep</td>
                <td>Pkg</td>
                <td>Cancl</td>
                <td>Time</td>
                <td>Pay</td>
                <td>Select</td>
                
              </tr>
              <th scope="row">Rajendre/Owner</th>
              <td>8852369741</td>
              <td>225369874</td>
              <td>700</td>
              <td>400</td>
              <td>300</td>
              <td>500</td>
              <td>50</td>
              <td>Today/1:30</td>
              <td>Cash/Paytm</td>
              <td><input type="radio"></td>
              
              
            </tbody>
          </table>

          <div class="justify-content-center d-flex py-3 ">
            <button class=" Next btn-lg mr-3" id="btton" mat-raised-button color="primary" routerLink="../fuel-cost" >Back</button>
            <button class=" Next btn-lg" id="btton" mat-raised-button color="primary" routerLink="../approved" >Submit</button>
        </div>
        <div class=" my-4">
            <h1 class="text-center">Order Summary </h1>
            <h4  class="text-center">Pune</h4>
        </div>
        
  
     

      <div class="row  justify-content-center py-2">
        <div class="col-xl-3 col-sm-12 col-12">
        </div>
        <div class="col-xl-3 col-sm-12 col-12">
          <div class="card cardss">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h5 class="success">Above  100kg Uupto 500kg</h5>
                    <span> (HouseHold Items)</span>
                  </div>
                  <div class="" style="display: contents;">
                    <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-12 col-12">
        </div>
      </div>
      <div class="">
        <h4  class="text-center">or</h4>
    </div>
      <div class="row  justify-content-center py-4">
        <div class="col-xl-3 col-sm-12 col-12">
        </div>
        <div class="col-xl-3 col-sm-12 col-12">
          <div class="card cardss">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h5 class="success">Above  100kg Uupto 500kg</h5>
                    <span> (HouseHold Items)</span>
                  </div>
                  <div class="" style="display: contents;">
                    <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
             
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-12 col-12">
        </div>
      
      </div>
     <div class="row">
        <div>
            <p class="text-center">Helper Required</p>
            <p class="text-center">Packing Required</p>
        </div>
     </div>
   
      <div class="d-flex justify-content-center Login_rows">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6">
         
                  <table class="table my-3">
                      <thead class="tab" style="color:#fff ;">
                        <tr>
                        
                          <th scope="col">Details</th>
                          <th scope="col">Sender</th>
                          <th scope="col">Recever</th>
                        </tr>
                      </thead>
                      <tbody  style="color:#fff ;">
                        <tr>
                          
                          <td>Mobile </td>
                          <td><input type="text" class="Input"></td>
                          <td><input type="text" class="Input"></td>
                        </tr>
                        <tr>
                        
                          <td>Name</td>
                          <td><input type="text" class="Input"></td>
                          <td><input type="text" class="Input"></td>
                        </tr>
                        <tr>
                        
                          <td>City</td>
                          <td><input type="text" class="Input"> </td>
                          <td><input type="text" class="Input"></td>
                        </tr>
                        <tr>
                         
                          <td>Building Name/Apartment/Lane No </td>
                          <td><input type="text" class="Input"></td>
                          <td><input type="text" class="Input"> </td>
                        </tr>
                        <tr>
                         
                          <td>Door No /Flat No</td>
                          <td><input type="text" class="Input"></td>
                          <td><input type="text" class="Input"></td>
                        </tr>
                        <tr>
                          <th scope="row">Goods Are For Sale (Invoice Copy Enclosed)</th>
                          <th ></th>
                          <th ></th>
                         
                        </tr>
                      </tbody>
                    </table>
                    
                    
              </div>

              
            </div>
              <!-- <div class="row my-2">
                <div>
                    <h1 class="text-center">Quotations</h1>
                 </div>
             </div>
             <div>
              
        <div class="d-flex justify-content-center Login_rows">
          <div class="col-12 col-sm-8 col-md-6 col-lg-5">
           
            <table class="table table-bordered">
           
              <tbody>
                <tr>
                  <th scope="row">Vehicle Number</th>
                  <td colspan="2">Pune Katraj, Lane-1,Amar Heighs ,Ganesh</td>
                 
                </tr>
                <tr>
                  <th scope="row">Driver Mobile </th>
                  <td>Bengaluru Peenya Jindal Inds</td>
                  
                </tr>
                <tr>
                  <th scope="row">Freight Charges </th>
                  <td colspan="2">7000</td>
                  
                </tr>
                <tr>
                  <th scope="row">Advance</th>
                  <td colspan="2">4000</td>
                  
                </tr>
                <tr>
                  <th scope="row">Helper</th>
                  <td colspan="2">300</td>
                  
                </tr>
                <tr>
                  <th scope="row">Packing</th>
                  <td colspan="2">500</td>
                  
                </tr>
                <tr>
                  <th scope="row">Waiting Per Hour</th>
                  <td colspan="2">50</td>
                  
                </tr>
                <tr>
                  <th scope="row">Cancellation</th>
                  <td colspan="2">100</td>
                  
                </tr>
                <tr>
                  <th scope="row">Payment</th>
                  <td colspan="2">Cash/Paytm/GPay/PhonePay(From My Profile)</td>
                  
                </tr>
                <tr>
               
                  <td colspan="2">Above Charges are inclusive of GST if applicable.Transporter Will Provide Copy of Consignment Note.</td>
                  
                </tr>

              </tbody>
            </table>
                      
                </div>
  
                
              </div>
             </div> -->
             

             
            </div>
          </div>
          

  </section>


 
