<section class="background-radial-gradient overflow-hidden">
    <div class="container-fluid box">
      <div class="row ">
        <div class=" my-4 text-center">
            <!-- <h1 class="text-center">Approved </h1> -->
            <button class=" Next btn-lg" id="btton" mat-raised-button color="primary" routerLink="../order-confirmaton" >Billing  Summary</button>
        </div>
        <div class="d-flex justify-content-center Login_rows my-3" >
            <div class="col-12 col-sm-8 col-md-6 col-lg-5">
        <table class="table table-bordered" style="color:#fff ;">
            <tbody>
                <tr>
                  <th scope="row">Freight</th>
                  <td colspan="2">7000</td>
                 
                </tr>
                <tr>
                    <th scope="row">Advance</th>
                    <td colspan="2">400</td>
                   
                  </tr>
             
              
                <tr>
                  <th scope="row">Helper</th>
                  <td colspan="2">300</td>
                  
                </tr>
                <tr>
                  <th scope="row">Packing</th>
                  <td colspan="2">500</td>
                  
                </tr>
                <tr>
                  <th scope="row">Waiting Per Hour</th>
                  <td colspan="2">50</td>
                  
                </tr>
               
                <tr>
                    <th scope="row">Cancellation </th>
                    <td>100</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Payment </th>
                    <td colspan="2">Cash/Paytm/GPay/PhonePe(From MyProfile)</td>
                    
                  </tr>
               
             
    
              </tbody>
        </table>
   </div>
   </div>

        <div class="d-flex justify-content-center Login_rows">
          <div class="col-12 col-sm-8 col-md-6 col-lg-5">
           
            
            <table class="table table-bordered" style="color:#fff;">
              <!-- <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr> -->
              <!-- </thead> -->
              <tbody>
                <tr>
                  <th scope="row">Vegicle Number</th>
                  <td colspan="2">KA01M34</td>
                 
                </tr>
                <tr>
                  <th scope="row">Consignment Note No</th>
                  <td>BLR98765</td>
                  
                </tr>
                <tr>
                  <th scope="row">Deiver Mobile</th>
                  <td colspan="2">9911775236</td>
                  
                </tr>
                <tr>
                  <th scope="row">Pick-up Time</th>
                  <td colspan="2">1:45 PM</td>
                  
                </tr>
                <tr>
                  <th scope="row">Disptach</th>
                  <td colspan="2">Today / 1:30 Pm</td>
                  
                </tr>
              </tbody>
            </table>
                      
                </div>
                <div class="col-12 col-sm-8 col-md-2 col-lg-2">
            <table class="table table-bordered" style="color:#fff ;">
              
                <tbody>
                  <tr>
                   
                    <td colspan="2">Start OTP</td>
                   
                  </tr>
                  <tr>
                  
                    <td> <button class=" Next end btn-lg" id="btton" mat-raised-button color="primary" >End Trip</button></td>
                    
                  </tr>
                  <tr>
                    
                    <td colspan="2">Stop OTP</td>
                    
                  </tr>
                 
                </tbody>
              </table>


            </div>

               
              </div>
              <!-- <div class="row my-2">
                <div>
                    <h1 class="text-center"><button class=" Next btn-lg" id="btton" mat-raised-button color="primary" >Next</button></h1>
                 </div>
             </div> -->
            
             <div>
                
                
                 <div class="d-flex justify-content-center Login_rows my-3">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5">
                     
                      <table class="table" style="color:#fff ;">
                        <!-- <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr> -->
                        <!-- </thead> -->
                        <tbody>
                          <tr>
                            <td scope="row"> Sender</td>
                            <td colspan="2">987456321</td>
                            <td scope="row">Receiver</td>
                            <td colspan="2">8855663321</td>
                           
                          </tr>
                        
                          
                       
                      
                       
          
                        </tbody>
                      </table>
                                
                          </div>
            
                          
                        </div>
                
      <div class="row  justify-content-center py-4">
        <div class="col-xl-3 col-sm-12 col-12">
        </div>
        <div class="col-xl-3 col-sm-12 col-12">
          <div class="card cardss">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h5 class="success">Images 1</h5>
                    
                  </div>
                  <div class="" style="display: contents;">
                    <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
             
                  </div>
                </div>
                <div class="media d-flex my-3">
                  <div class="media-body text-left">
                    <h5 class="success">Images 2</h5>
                    
                  </div>
                  <div class="" style="display: contents;">
                    <img src="../../../assets/Advertising Material.png" class="card-img-top" alt="..." style="    width: 42%;">
             
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-sm-12 col-12">
        </div>
      
      </div>
      <div class=" text-center">
        <p>Pick Up :<span>Pune ,Lane ,Amar Height,Ganensh</span></p>
                <p>Drop :<span>Bengaluru,Lane-2,Ravi Warehouse.</span></p>
      </div>


      <div class=" text-center">
        <p>Hellper</p>
                <p>Packing</p>
      </div>
      <div class=" text-center">
        
                <p>Dispatch Time :Today/1:30PM</p>
      </div>
        <div class="d-flex justify-content-center Login_rows">
          <div class="col-12 col-sm-8 col-md-6 col-lg-5">
           
            <table class="table table-bordered" style="color:#fff ;">
              <!-- <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr> -->
              <!-- </thead> -->
              <tbody>
                <tr>
                  <th scope="row">Vehicle Number</th>
                  <td colspan="2">Pune Katraj, Lane-1,Amar Heighs ,Ganesh</td>
                 
                </tr>
                <tr>
                  <th scope="row">Driver Mobile </th>
                  <td>Bengaluru Peenya Jindal Inds</td>
                  
                </tr>
                <tr>
                  <th scope="row">Freight Charges </th>
                  <td colspan="2">7000</td>
                  
                </tr>
                <tr>
                  <th scope="row">Advance</th>
                  <td colspan="2">4000</td>
                  
                </tr>
                <tr>
                  <th scope="row">Helper</th>
                  <td colspan="2">300</td>
                  
                </tr>
                <tr>
                  <th scope="row">Packing</th>
                  <td colspan="2">500</td>
                  
                </tr>
                <tr>
                  <th scope="row">Waiting Per Hour</th>
                  <td colspan="2">50</td>
                  
                </tr>
                <tr>
                  <th scope="row">Cancellation</th>
                  <td colspan="2">100</td>
                  
                </tr>
                <tr>
                  <th scope="row">Payment</th>
                  <td colspan="2">Cash/Paytm/GPay/PhonePay(From My Profile)</td>
                  
                </tr>
             

              </tbody>
            </table>
                      
                </div>
  
                
              </div>
             </div>
             

            
            </div>
          </div>
          

  </section>


 

