

<div class="Nav">
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
        <div class="navbar-toggler-right">
          <button class="navbar-toggler tbut" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon tbut"></span>
                  </button>
        </div>
        <div class="collapse navbar-collapse flex-column " id="navbar">
          <ul class="navbar-nav  w-100 justify-content-center  my-3">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="bi bi-facebook"></i> </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" href="#"><i class="bi bi-linkedin"></i>Mon - Sat: 7:00 - 17:00	</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link" href="#"><i class="bi bi-linkedin"></i>  + 386 40 111 5555</a>
              </li><li class="nav-item mx-4">
                <a class="nav-link" href="#"><i class="bi bi-linkedin"></i> info@yourdomain.com</a>
              </li><li class="nav-item mx-4">
                <a class="nav-link" href="#"><i class="bi bi-linkedin"></i></a>
              </li>            
          </ul>
          <ul class="navbar-nav justify-content-center w-100  ">
            <li class="nav-item nav_item">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item  nav_item">
              <a class="nav-link" href="#">About Us </a>
            </li>
            <li class="nav-item dropdown nav_item">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item nav_item">
              <a class="nav-link" routerLink="../our-services">Our Process </a>
            </li>
            <li class="nav-item nav_item ">
              <a class="nav-link" href="#">Citywise </a>
            </li>
            <li class="nav-item nav_item">
              <a class="nav-link" href="#">Our Blog </a>
            </li>
            <li class="nav-item nav_item">
              <a class="nav-link" href="#">Reviews </a>
            </li>
            <li class="nav-item nav_item">
              <a class="nav-link" href="#">Faqs </a>
            </li>
            <li class="nav-item nav_item">
              <a class="nav-link" href="#">Enquiry </a>
            </li>
            <li class="nav-item nav_item">
              <a class="nav-link">
                  Contact Us </a>
            </li>
      
         
            <li class="nav-item    nav_item">
              <a class="nav-link"  routerLink="../../../../signup"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign up
              </a>            
            </li>
          </ul>
      
      
        </div>
      
      </nav>
</div>






