













<section class="background-radial-gradient overflow-hidden">
    <div class="container-fluid box">
      <div class="row ">
        <div class="d-flex justify-content-center Login_rows">
          <div class="col-12 col-sm-8 col-md-6 col-lg-6">
                    <table class="table my-5">
                        <thead class="tab">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Details</th>
                            <th scope="col">Sender</th>
                            <th scope="col">Recever</th>
                          </tr>
                        </thead>
                        <tbody  style="color:#fff">
                          <tr>
                            <th  scope="row">1</th>
                            <td>Mobile </td>
                            <td><input type="text" class="Input"></td>
                            <td><input type="text" class="Input"></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Name</td>
                            <td><input type="text" class="Input"></td>
                            <td><input type="text" class="Input"></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>City</td>
                            <td><input type="text" class="Input"> </td>
                            <td><input type="text" class="Input"></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Building Name/Apartment/Lane No </td>
                            <td><input type="text" class="Input"></td>
                            <td><input type="text" class="Input"></td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Door No /Flat No</td>
                            <td><input type="text" class="Input"></td>
                            <td><input type="text" class="Input"></td>
                          </tr>
                        </tbody>
                      </table>
                      
                      
                </div>
  
                
              </div>
              <div class="justify-content-center d-flex py-3 ">
                <button class=" Next btn-lg mr-3" id="btton" mat-raised-button color="primary" routerLink="../vehicle" >Back</button>
                <button class=" Next btn-lg" id="btton" mat-raised-button color="primary" routerLink="../vehicle-required" >Next</button>
              <!-- <a class="Forget_psd px-2" routerLink="/auth/registration">Next </a> -->
            
            </div>
            </div>
          </div>
          
  </section>