.logo-image {
    box-shadow: 1px 5px 12px rgba($color: #6e6d6d, $alpha: 1) !important;
}

.Next{    padding: 1% 5%;
    color: #fff;
    font-weight: 500;
    background-color: #21AD4B;
    margin-top: 1.5rem;
    border: none;

}
.end{
    background-color: Red;
}
.preview{
    background-color: rgb(244, 100, 10);

}

.cardss{
    background: none;
    border: 1px solid #fff;
  }
//   .Next {
//     background: none;
//     border: 2px solid;
//     font: inherit;
//     line-height: 1;
//     margin: 0.5em;
//     padding: 1em 2em;
//   }
  
//   .Next {  
//     color: var(--color);
//     transition: 0.25s;
    
//     &:hover,
//     &:focus { 
//       border-color: var(--hover);
//       color: #fff;
//     }
//   }