// .Next{    padding: 1% 5%;
//     color: #fff;
//     font-weight: 500;
//     background-color: #21AD4B;
//     margin-top: 1.5rem;
//     border: none;

// }
// .tab{
//     background-color: #21AD4B;
//     color: #fff;
// }
.tab{
    // background-color: #21AD4B;
    color: #fff;
}
.background-radial-gradient{
    height: 100vh;
   
}
.Input{
    background: none;
    border: 1px solid #fff;
}